
.right-feature[data-v-1f719ca6]{
    padding-left: 20px !important;
}
.features-grid[data-v-1f719ca6]{
    grid-column-gap: 36px !important;
}
.card-text[data-v-1f719ca6]{
    font-size: 14px;
}
p[data-v-1f719ca6]{
    font-weight: 400;
}

