
.v-tabs--vertical > .v-tabs-bar .v-tabs-slider[data-v-38fc9dbb] {
    height: 100% !important;
}
.theme--light.v-card[data-v-38fc9dbb], .theme--light.v-sheet[data-v-38fc9dbb] {
    background: transparent !important;
}
.sidebar-width[data-v-38fc9dbb] {
    width: 100%;
}
.card-product-brand-logo img[data-v-38fc9dbb] {
    max-width: 65px;
    max-height: 65px;
    height: 65px;
    width: 100%;
    object-fit: contain;
}
.btn-product[data-v-38fc9dbb] {
    margin: 20px 20px 20px 30px !important;
}
.product-brand[data-v-38fc9dbb] {
    display: flex;
    align-items: center;
    color: rgba(31, 31, 31, .4);
    font-size: 14px;
    font-weight: 500;
}
.product-brand p[data-v-38fc9dbb] {
    color: rgba(31, 31, 31, .4);
    font-size: 14px;
}
.product-brand img[data-v-38fc9dbb] {
    max-width: 16px;
    margin-right: 8px;
    height: max-content;
}
.product-title[data-v-38fc9dbb] {
    font-size: 16px;
    min-height: 52px;
}
.dropdown-categories[data-v-38fc9dbb] {
    margin-top: -6px;
    margin-bottom: 30px;
}
.category-dropdown[data-v-38fc9dbb] {
    z-index: 1;
    max-height: 300px;
    overflow: auto;
    width: 100%;
    padding-left: 0 !important;
    max-width: 270px;
    animation-name: opacity
}
.category-dropdown ul[data-v-38fc9dbb] {
    list-style: none;
    padding-left: 0 !important;
}
.category-dropdown ul li[data-v-38fc9dbb] {
    cursor: pointer;
    padding: 15px 0 15px 50px;
}
.category-dropdown ul li[data-v-38fc9dbb]:hover {
    background: rgba(121, 194, 90, .07);
}
.category-dropdown .parent[data-v-38fc9dbb] {
    padding: 15px 0 15px 30px;
    cursor: pointer;
    margin: 0 !important;
}
.category-dropdown .parent[data-v-38fc9dbb]:hover {
    background: rgba(121, 194, 90, .07);
}
.v-select-dropdown[data-v-38fc9dbb] {
    background: #F3F5F6;
    border-radius: 6px;
    max-width: 270px;
    padding: 13px 20px 13px 20px;
    text-align: left;
    color: #555555;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.v-select-dropdown .arrow[data-v-38fc9dbb] {
    margin-left: 15px;
}
.v-select-dropdown.collapse[data-v-38fc9dbb] {
    background: white;
    border: 1px solid white;
    transition: all .2s ease-in-out;
}
.v-select-dropdown.collapsed[data-v-38fc9dbb] {
    transition: all .2s ease-in-out;
    border: 1px solid #79C25A;
}
.fade-enter-active[data-v-38fc9dbb], .fade-leave-active[data-v-38fc9dbb] {
    transition: all .3s ease-out;
}
.fade-enter[data-v-38fc9dbb], .fade-leave-to[data-v-38fc9dbb]  {
    opacity: 0;
}

/** {
    transition: all 1s ease-out
}*/

