
.top-header[data-v-2358bee2]{
    background: linear-gradient(to right,rgba(15,39,66,.6),rgba(15,39,66,.6)),url('/assets/components/services/alternative-energy-ecological-concept.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 0%
}

