#emailDialog[data-v-d7f792f2]{position:fixed;z-index:101;top:0;bottom:0;left:0;right:0;margin:auto;max-width:600px;width:auto;height:150px;background-color:#fff}#emailDialog.show[data-v-d7f792f2]{display:block}#emailDialog.hide[data-v-d7f792f2]{display:none}#emailDialog .overlay[data-v-d7f792f2]{position:fixed;z-index:100;top:0;bottom:0;left:0;right:0;margin:auto;width:100%;height:100%;background-color:rgba(40,40,40,.68)}#emailDialog .card[data-v-d7f792f2]{position:fixed;z-index:101;top:0;bottom:0;left:0;right:0;margin:auto;max-width:600px;width:max-content;height:fit-content;background-color:#fff;padding:20px 100px}#emailDialog .card .col[data-v-d7f792f2]{max-width:250px !important}#emailDialog .card .v-input[data-v-d7f792f2]{max-width:250px !important;margin-top:0 !important;padding-top:0 !important;margin-right:20px}#emailDialog p[data-v-d7f792f2]{z-index:102;color:#ff7676;position:absolute;bottom:20px}@media screen and (max-width: 600px){#emailDialog .card[data-v-d7f792f2]{display:block !important;padding:20px 40px}#emailDialog .v-input[data-v-d7f792f2]{margin:auto !important}#emailDialog button[data-v-d7f792f2]{margin:auto !important;display:flex !important}}

.large-image[data-v-558afdca] {
    position: fixed;
    width: 100%;
    height: 104vh;
    top: -20px;
    background-color: rgba(45, 49, 52, 0.51);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.project-gallery[data-v-558afdca] {
    margin: 30px 2px 40px
}

/** Gallery V2 **/
.gallery-v2[data-v-558afdca] {
    overflow: hidden;
    margin: 40px 0
}
.gallery-v2 img[data-v-558afdca] {
    cursor: pointer;
    float: left;
    display: block;
    width: 49%;
    margin: 0 2% 20px 0;
}
.gallery-v2 img[data-v-558afdca]:first-child, .gallery-v2 img[data-v-558afdca]:last-child {
    width: 100%;
    margin: 0 0 20px
}
.gallery-v2 img[data-v-558afdca]:not(:first-child):not(:last-child):nth-child(odd) {
    margin-right: 0
}

/** ./Gallery v2 **/
.gallery[data-v-558afdca] {
    overflow: hidden;
    margin: 40px 0
}
.gallery img[data-v-558afdca] {
    cursor: pointer;
    float: left;
    display: block;
    width: 280px;
    height: 235px;
    margin: 0 15px 20px 0;
}
.gallery img[data-v-558afdca]:first-child,
.gallery img[data-v-558afdca]:last-child {
    width: 370px;
    height: 235px
}
.gallery img[data-v-558afdca]:nth-child(3n) {
    margin-right: 0;
}
.gallery img[data-v-558afdca]:nth-child(4) {
    margin-left: 0;
}
.gallery img[data-v-558afdca]:first-child {
    margin-left: 0;
}
#ytplayer[data-v-558afdca] {
    width: 100%;
    height: 100%;
}
@media (min-width: 967px) and (max-width: 999px){
.gallery img[data-v-558afdca] {
        width: 270px;
}
.gallery img[data-v-558afdca]:first-child,
    .gallery img[data-v-558afdca]:last-child {
        width: 357px;
        height: 235px
}
}
@media (min-width: 768px) and (max-width: 966px){
#singleProject .description[data-v-558afdca] {
        max-width: 678px
}
.gallery img[data-v-558afdca] {
        width: 190px;
        height: 172px;
        margin: 0 1% 20px 0
}
.gallery img[data-v-558afdca]:first-child,
    .gallery img[data-v-558afdca]:last-child {
        width: 260px;
        height: 172px
}
}
@media (min-width: 480px) and (max-width: 767px){
.gallery img[data-v-558afdca] {
        width: 48%;
        margin: 0 15px 20px 0
}
.gallery img[data-v-558afdca]:first-child,
    .gallery img[data-v-558afdca]:last-child {
        width: 48%;
}
.gallery img[data-v-558afdca]:nth-child(3n) {
        margin-right: 15px;
}
.gallery img[data-v-04167fcf][data-v-558afdca]:nth-child(2n) {
        margin-right: 0;
}
}
@media (min-width: 429px) and (max-width: 479px){
.gallery img[data-v-558afdca] {
        width: 49%;
        margin: 0 2% 15px 0;
        height: auto;
}
.gallery img[data-v-558afdca]:first-child,
    .gallery img[data-v-558afdca]:last-child {
        width: 100%
}
.gallery img[data-v-558afdca]:not(:first-child):not(:last-child):nth-child(odd) {
        margin-right: 0
}
}

