
h2[data-v-2255a474]{
    font-size: 24px !important;
    line-height: 65px;
}
h3[data-v-2255a474]{
    font-size: 18px !important;
    line-height: 65px;
}
h1[data-v-2255a474]{
    font-size: 30px !important;
    line-height: 65px;
}
p[data-v-2255a474]{
    font-size: 14px !important;
}

