
.accept[data-v-b9bee446]{
    border: 1px solid #79C25A;
    background-color: #79C25A !important;
    color:white;
}
.cancel[data-v-b9bee446]{
    border: 1px solid gray !important;
    background: gray;
    color:white !important;
}
.cancel[data-v-b9bee446]:hover{
    background-color:grey !important;
}

