@media screen and (max-width: 800px) {
    #economy .row-economy .economy-data .economy-item {
        max-width: 30%;

        .number {
            white-space: pre;
        }
    }
    #services .services {
        grid-template-columns: repeat(auto-fill, minmax(250px, 340px));
        grid-column-gap: 30px !important;
    }
}

@media screen and (max-width: 890px) {
    #app nav .navbar-open-form {
        display: none !important;
    }
}

@media screen and (max-width: 969px) {
    #app #steps {
        .steps-grid {
            grid-template-columns: repeat(2, minmax(100px, 1fr));
        }
    }
}

@media screen and (max-width: 1024px) {
    h4 {
        font-size: 20px !important;
    }
    .footer-col ul li a {
        font-weight: 700 !important;
    }
    .footer-logo {
        margin-bottom: 30px;
    }

    .header-card .content-card .card-text {
        min-height: 182px;
    }
    .features-grid {
        .content-card {
            height: inherit;
        }
    }
    .economy-body {
        & > button {
            margin-top: 45px !important;
        }
    }
    div[data-id="b2g"] {
        .economy-data.d-flex {
            background: unset !important;
        }
    }
    #products {
        .v-application--wrap > h2.title {
            position: relative !important;
            top:unset !important;
        }
    }
    .economy-data.d-flex {
        margin-top: 50px;
        background-color: rgba(255, 255, 255, 0.05);
        padding: 44px 40px 39px 50px;
        display: grid !important;
        grid-column-start: col-start 2;
        grid-template-areas: 'header header header header header header' 'menu menu menu menu menu menu' 'footer footer footer footer2 footer2 footer2' 'footer3 footer3 footer3 footer4 footer4 footer4';

        & > p:nth-child(1) {
            grid-area: header;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }

        & > p:nth-child(2) {
            grid-area: menu;
            font-size: 24px !important;
            font-weight: 700;
            padding-bottom: 30px !important;
            border-bottom: 1px solid #dedede;
        }

        .economy-item {
            max-width: 100% !important;
            padding-right: 20px !important;

            &:nth-child(3) {
                padding-top: 0 !important;
                margin-top: 40px !important;
            }

            &:nth-child(4) {
                padding-top: 0 !important;
                margin-top: 40px !important;
            }

            &:nth-child(5) {
                padding-top: 0 !important;
                margin-top: 40px !important;
            }

            &:nth-child(6) {
                padding-top: 0 !important;
                margin-top: 40px !important;
            }
        }
    }
    #tarif {
        padding-left: 45px !important;
        padding-right: 45px !important;

        .tarif-left {
            & > h2 {
                max-width: 690px;
            }
        }

        .tarif-right {
            margin-top: 60px !important;
            max-width: 610px;

            h2 {
                font-size: 54px !important;
            }
        }
    }
    #app #connections div.connections-text {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    #app div[data-id="Home"] .top-header {
        background: linear-gradient(0deg, rgba(15, 39, 66, 0.6), rgba(15, 39, 66, 0.6)), url('/assets/components/home/header/home-laptop-min.jpg') !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;

        #header {
            margin-top: 170px !important;
            padding-bottom: 0 !important;
        }
    }
    #app div[data-id="b2c"] {
        .top-header {
            background: linear-gradient(0deg, rgba(15, 39, 66, 0.6), rgba(15, 39, 66, 0.6)), url('/assets/components/b2c/b2c-laptop-min.jpg') !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;

            #header {
                margin-top: 170px !important;
                padding-bottom: 0 !important;
            }
        }

        #variants > .col-xl-6:nth-child(2) {
            margin: auto !important;
        }

    }
    #app div[data-id="b2b"] .top-header {
        background: linear-gradient(0deg, rgba(15, 39, 66, 0.6), rgba(15, 39, 66, 0.6)), url('/assets/components/b2b/b2b-laptop-min.jpg') !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;

        #header {
            margin-top: 170px !important;
            padding-bottom: 0 !important;
        }
    }
    #app div[data-id="b2g"] .top-header {
        background: linear-gradient(0deg, rgba(15, 39, 66, 0.6), rgba(15, 39, 66, 0.6)), url('/assets/components/b2g/b2g-laptop-min.jpg') !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;

        #header {
            margin-top: 170px !important;
            padding-bottom: 0 !important;
        }
    }
    #app {
        div[data-id="Home"], div[data-id="b2g"], div[data-id="b2b"], div[data-id="b2c"] {
            #header-bottom {
                .header-columns {
                    .header-card {
                        padding: 50px 30px !important;
                    }
                }
            }
        }
    }
    .card-price-mobile {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    #app div[data-id="project"] {
        .top-header {
            background-image: linear-gradient(
                    0deg, rgba(15, 39, 66, 0.6), rgba(15, 39, 66, 0.6)), url('/assets/components/projects/header/project-laptop-min.jpg');
        }
    }

    #solutions {
        .content-side {
            .max-437 {
                padding: 100px 0 125px 0;

                p {
                    font-weight: 500;
                    font-size: 16px;
                }

                h2 {
                    margin-bottom: 25px
                }

                button {
                    margin-top: 45px;
                }
            }
        }
    }
    #features {
        .right-feature {
            margin-top: 60px !important;
        }

        .features-grid {
            .card-text {
                max-width: 253px !important;
            }
        }
    }
    .v-slide-group__prev {
        display: none !important;
    }
    #economy {
        .economy-bottom {
            p {
                margin-top: 0 !important;
            }
        }
    }
    #projects {
        #v-pills-tabContent {
            .tab-pane {
                .row.d-flex {
                    .card {
                        &.col-lg-6 {
                            max-width: 530px;
                            flex-grow: inherit !important;
                        }

                        &.col-lg-5 {
                            max-width: 370px !important;
                            flex-grow: inherit !important;
                        }
                    }
                }
            }
        }
    }
    div[data-id="Home"] {
        #economy {
            background-image: url("/assets/components/home/economy/mask-economy.png");
            background-position: left 135% top 30px;
            background-size: 57%, cover;
        }
    }
    #app #header {
        padding-bottom: 90px !important;
        margin-top: 120px !important;
        top: unset !important;
    }
    div[data-id="singleCareer"] {
        &#app #header {
            margin-top: 0 !important;
            padding-bottom: 0 !important;

            .header-text {
                margin-bottom: 0 !important;
            }
        }
    }
    div[data-id="career"] {
        &#app #header {
            margin-top: 0 !important;
            padding-bottom: 0 !important;

            .header-text {
                margin-bottom: 0 !important;
            }
        }
    }
    #header-bottom .header-columns .header-card {
        padding: 0px 25px 30px 25px !important;
    }
    #news > div > .position-unset {
        margin-left: auto !important;
        margin-right: 80px;
    }
    #newsPage {
        padding-top: 0 !important;

        #header {
            margin-top: 0 !important;
            padding-bottom: 0 !important;
        }

        #news {
            padding-top: 0 !important;

            & > div > .position-unset {
                padding-right: 70px !important;
                padding-top: 0 !important;
                max-width: 100% !important;
                flex: 0 0 100% !important;
                width: 100% !important;
            }

            .card.w-460 {
                max-width: 700px !important;
                width: 100% !important;

                .before-border {
                    max-width: 388px;
                }

                .p.my-2 {
                    max-width: 288px;
                }
            }

            .card.w-360 {
                max-width: 700px !important;
                width: 65% !important;
            }
        }

    }
    .header-text {
        max-width: 770px;
    }
    #nav-top .container-fluid {
        padding-left: 1.3rem !important;
        padding-right: 1.3rem !important;
    }
    .d-large-block {
        display: block !important;
    }
    #app div[data-id="b2b"],
    #app div[data-id="b2c"],
    #app div[data-id="b2g"],
    #app div[data-id="about"],
    #app div[data-id="Home"],
    #app div[data-id="singleNews"],
    #app div[data-id="singleCareer"],
    #app div[data-id="productsCategory"],
    #app div[data-id="projects"],
    #app div[data-id="news"],
    #app div[data-id="career"],
    #app div[data-id="contacts"],
    #app div[data-id="products"],
    #app div[data-id="project"],
    #app div[data-id="services"],
    #app div[data-id="service"],
    #app div[data-id="product"] {
        div.col-xl-8 {
            padding: 0 15px 0 15px !important;
        }

        div.col-xl-7 {
            padding: 0 15px!important
        }
    }

    #app #questions {
        div.col-xl-8 {
            padding: 0 40px !important
        }
    }

    div.col-xl-8 {
        padding: 0 40px 0 40px !important;

        &.col-lg-11 {
            max-width: 100% !important;
            flex: 0 0 100% !important;
        }
    }
    div.col-xl-7 {
        padding: 20px 10px 0 10px !important;

        &.col-lg-11, &.col-11 {
            max-width: 100% !important;
            flex: 0 0 100% !important;
        }
    }
    #questions {
        .col-11.col-lg-7.col-xl-7 {
            flex: 0 0 58.3333333333% !important;
            max-width: 58.3333333333% !important;
        }

        .question-sidebar {
            margin-left: 40px;
        }

        .question-handler {
            width: 28px;
            height: 28px;
        }
    }


    #firstPage #solutions .row:nth-child(2) .content-side {
        padding-left: 0 !important;
    }
    .v-slide-group__prev {
        display: none;
    }
    .next-prev-icons {
        align-items: center;
        max-width: 200px;
    }
    #footer {
        .footer-info {
            margin-top: 20px;

            & > .row {
                flex-direction: column-reverse;
            }

            &.border-top {
                border-top: unset !important;
            }
        }
    }
    .footer-one {
        .footer-logo {
            text-align: center
        }
    }
    .footer-five > h5 {
        margin-top: 30px !important;
    }
    .services-text {
        max-width: 770px;
        margin-right: auto !important;
        margin-left: 0 !important;
    }
    #service {
        .top-header {
            padding-top: 0 !important;
        }
    }
    .navbar-light.position-fixed, .navbar-dark.position-fixed {
        min-height: 76px;

        #footer {
            padding-top: 100px !important;

            .footer-logo {
                display: none;
            }
        }

        .navbar-toggler {
            z-index: 2;
            border-color: #1f1f1f;
        }

        .navbar-brand {
            z-index: 2;
        }
    }
    .economy-item {
        max-width: 100% !important;
        margin: 0 10px 0 0;

        & > img {
            span {
                margin-top: 7px;
            }
        }
    }
    .mobile-contact {
        max-width: 206px !important;
        width: 100%;
        box-sizing: content-box;

        &.pr-4 {
            padding: 0 30px 0 0 !important;
            margin-right: 30px !important;
        }

        z-index: 2;
        justify-content: center !important;

        i img {
            filter: brightness(0.5);
        }
    }
    .toggler-mobile {
        border-color: black;
        background-color: black;

        &.bg-dark {
            z-index: 2;
        }

        .navbar-mobile-toggler-icon.bg-white {
            display: none;
        }

        &:after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: "\274c";
            font-size: 14px;
            color: #FFF;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            transform: rotate(90deg);
            filter: grayscale(1) brightness(5);
        }

        .navbar-mobile-toggler-icon {
            display: none;
            background-color: white !important;
        }
    }
    nav.navbar.navbar-light .navbar-nav .nav-item .nav-link {
        color: white !important;
    }
    .mobile-contact {
        justify-content: flex-end !important;

        & > button {
            margin-left: 20px;
        }
    }
    .contacts-form {
        .v-card {
            padding: 100px 20px;
            background-color: rgba(243, 245, 246, 1);

            .card-title {
                margin: 0 !important;
            }
        }
    }

    #map .map-info-body {
        margin-left: 0 !important;
        margin-right: 25% !important;
    }

    #firstPage #solutions {
        & > .row:nth-child(1) .content-side {
            margin-right: 15px !important;

            .max-437 {
                max-width: 450px;
            }
        }

        & > .row:nth-child(3) .content-side {
            margin-right: 15px !important;

            .max-437 {
                max-width: 450px;
            }
        }

        & > .row:nth-child(2) .content-side {
            margin-left: 9% !important;
            margin-right: 0 !important;

            .max-437 {
                max-width: 450px;
            }
        }
    }

    #singleProject {
        .description {
            padding-top: 50px;
        }
    }
    #moreItems {
        &.my-5.padding-125 {
            padding-bottom: 50px !important;
            padding-top: 80px !important;
        }

        .project-description {
            padding: 15px 40px;
        }

        .before-border {
            padding: 30px 40px 0 40px;
        }

        .card-project-features {
            padding: 0 40px
        }

    }
    div[id^=single] #header-bottom .header-columns {

    }

    .sidebar-width .nav.nav-pills {
        display: none !important;
    }
    .sidebar {
        width: 100%;

        #app {
            width: 100%;

            .tab-content {
                width: 100%;
            }
        }
    }
    div[data-id="b2c"] {
        #app #variants {
            align-items: center;
        }
    }
    div[data-id="b2b"], div[data-id="b2g"], div[data-id="Home"], div[data-id="b2c"] {
        #variants {
            padding-top: 0px !important;
        }
    }
    #app #variants {
        .sidebar-info ul li {
            margin-right: 40px;
        }

        .v-card__text {
            padding: 0 !important;
        }
    }
    .allProducts {
        margin-bottom: 10px;
    }
    div[data-id="productsCategory"] {
        #products {
            h2.title {
                position: absolute;
                top: 91px;
            }

            .sidebar {
                margin-left: 0 !important;
            }

            .title {
                text-align: left !important;
            }
        }

    }
    div[data-id="b2c"] {
        #variants {
            & > .col-xl-6:nth-child(2) {
                padding-bottom: 30px !important;
                margin: auto !important;
            }

            flex-direction: column-reverse;

            .background-variant {
                min-height: 360px;
            }

            .sidebar-info {
                margin-left: 0 !important;
                max-width: 678px !important;
            }

            .variants-values {
                & > li {
                    margin: 50px 40px 0 0 !important;
                }
            }
        }
    }
    #complect {
        div > .container {
            margin-left: auto !important;
        }
    }
    #app #connections {
        .col-xl-7.col-11 {
            max-width: 100%;
            flex: 0 0 100%;
            padding-top: 10px !important;
        }

        & > .col-lg-12 > .row {
            padding-bottom: 105px !important;

            & > .col-xl-7.col-11 .v-tabs-items {
                margin-bottom: 0 !important;
            }
        }

        .connections-flex {
            margin-top: 20px !important
        }

        .content-card {
            .card-title {
                font-size: 17px !important;
            }
        }

        .connections-text {
            margin-bottom: 40px !important;
            margin-left: 10px !important;
            max-width: 770px;

        }

        .v-tab {
            padding-right: 0;
        }

        .connections-grid {
            grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
            justify-content: center;
        }
    }
    #steps {
        & > .col-xl-7.col-11 {
            padding-top: 0 !important;
        }

        .steps-grid {
            grid-template-columns: repeat(4, minmax(100px, 320px));
            grid-row-gap: 50px;
            grid-column-gap: 30px;

            .step-text {
                text-align: left;
            }
        }

        .steps-description {
            margin: 20px auto auto;
        }

        .v-tabs-bar__content {
            justify-content: center;
        }
    }
    .sidebar #modules {
        min-height: unset !important;
    }
    #firstPage #modules {
        & .modules-inner > .ml-auto {
            margin-right: auto !important;
        }

        & .modules-inner > .ml-auto {
            margin-right: auto !important;
            padding-left: 40px !important;
            margin-left: 0 !important;
            max-width: 460px;

            .v-slide-group__prev {
                display: none !important;
            }
        }

        .v-tab.v-tab--active {
            h5:after {
                background-color: unset !important;
            }
        }
    }

    #questions .question .question-handler {
        right: 40px;
    }

    div[data-id="projects"] {
        #projects #v-pills-tabContent .tab-pane .card {
            margin-bottom: 30px;
            max-width: 100% !important;
        }
    }

    .tab-pane {
        margin-bottom: 20px;
    }
    #v-pills-tab {
        max-width: 100%;
    }
    #singleProject {
        .header-text > h1 {
            margin-bottom: 90px;
        }

        #header {
            padding-bottom: 0 !important;
        }

        #header-bottom {
            margin-top: 0 !important;
        }

        .header-columns .d-grid {
            display: grid;
            grid-template-columns: repeat(2, minmax(100px, 1fr));

            .header-card {
                padding: 0 0 40px 0 !important;
            }
        }
    }
    .header-columns .content-card {
        padding: 0 !important;
    }


    #v-pills-tab {
        .nav-link {
            padding: 0 15px 5px 15px;

            &:before {
                width: 50%;
                height: 2px;
                top: unset;
                left: unset;
            }
        }
    }
    #projects #v-pills-tab .nav-link, #more-items #v-pills-tab .nav-link {
        padding-left: 0 !important;
    }

    #contacts {
        & > .row {
            background-color: #f3f5f6;
        }

        .contacts-form {
            background-color: #f3f5f6;

            .v-card {
                background-color: transparent !important;

                .v-card__text {
                    & > .container {
                        padding: 0;
                    }
                }
            }
        }

        .form-contact {
            max-width: 100%;
            margin-left: 0 !important;

            .v-card__title {
                justify-content: flex-start;
            }

            .v-card__text {
                .container {
                    margin: 0 !important;
                    max-width: 100%;
                }
            }

            .v-card__actions {
                padding: 25px 17px 0 17px;

                #order {
                    margin-left: 0;
                }

                p {
                    max-width: 280px !important;
                    text-align: left;
                }
            }
        }
    }

    #services {
        .col-md-12.p-0.ml-4.position-unset {
            margin-left: 0 !important;
        }

        .border-left-section {
            display: block !important;
        }

        & > .v-application--wrap {
            & > .row {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
            }
        }

        #v-pills-tab .nav-link {
            text-decoration: none;
            display: flex;
            justify-content: center;

            &:before {

            }
        }

        .nav-pills {
            flex-direction: row !important;
        }

        .services-grid {
            justify-content: center;
        }

        .nav-pills .nav-link.active:before {
            background-color: #ffe454;
        }

        #v-pills-tab .nav-link {
            text-decoration: none;
            display: flex;
            justify-content: center;

            &:before {

            }
        }

        .nav-pills {
            flex-direction: row !important;
        }

        .services-grid {
            justify-content: center;
        }
    }
    #service {
        .services-grid {
            justify-content: center;
        }
    }
    .border-left-section:before {
        display: none;
    }

    #v-pills-tab {
        margin-bottom: 40px;
        position: relative !important;
        margin-left: 0 !important;
        max-width: 100% !important;
        width: 100%;
        flex: 0 0 100%;

        .nav-link {
            padding: 0 !important;
            margin-right: 20px;

            &:before {
                width: 50%;
                height: 2px;
                top: unset;
                left: unset;
            }

            &.active::before {
                width: 100%;
            }
        }

        .nav-pills .nav-link.active {
            position: relative;
            text-decoration: none;

            &::before {
                height: 2px;
                width: 60%;
                left: 0;
                right: 0;
                margin: auto;
                top: unset !important;
            }
        }
    }

    #questions {
        background: unset !important;
    }
    #partners {
        .carousel-control-prev {
            position: relative;
            margin: 0 12px 0 auto !important;
        }

        .carousel-control-next {
            position: relative;
            margin: 0 auto 0 12px !important;
        }

        .next-prev-icons {
            display: flex;
            margin-bottom: 40px;
        }

        #carousel-partners {
            .d-grid {
                justify-content: center;
                grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)) !important;
            }
        }
    }

    #discount {
        background-position: top 20px left -292px, center, center;
        background-size: auto, cover, cover;

        .discount-body {
            & > h2 {
                margin: 0;
                max-width: 367px;
            }

            & > p {
                margin: 0;
            }
        }
    }
    #features .content-card {
        height: inherit;
    }

    #features {
        max-height: 100% !important;
        height: auto !important;
        padding-top: 125px;
        padding-bottom: 125px;

        .left-feature {
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            margin-left: 5% !important;
        }

        .right-feature {
            padding-left: 5% !important;
            padding-right: 5% !important;
        }

        .features-text {
            max-width: 550px;
        }

        .features-grid {
            grid-column-gap: 30px !important;
            padding: 20px 0;
            grid-template-columns: repeat(3, minmax(150px, 1fr)) !important;
            grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
            border-left-color: transparent !important;
        }

        .features-grid .content-card:nth-child(2n):before {
            display: none;
        }

        .features-text {
            margin-left: 0 !important;

            h2 {
                margin: 0;
                max-width: 360px;
            }
        }

        .features-grid .content-card {
            padding: 0 20px 0 20px;
        }

    }

    #products {
        max-width: 100% !important;

        .tab-content {
            margin-left: 0;
        }

        .product-categories {
            .card {
                .card-title {
                    padding: 0px 0px 0px 28px;
                }
            }
        }

        .product-categories:not(.brands) {
            justify-content: flex-start;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-auto-rows: min-content;
        }

        .category-dropdown {
            max-width: 100% !important;
        }

        .category-dropdown {
            max-width: 100% !important;
        }

        .v-select-dropdown.collapse {
            display: block;
            text-align: center;
        }

        .title {
            text-align: left;
            margin-bottom: 40px;
        }

        .v-select-dropdown {
            margin-left: auto;
            margin-right: 8px;
        }

        .sidebar {
            justify-content: flex-start;
            margin-left: 0 !important;
            padding-bottom: 125px;
        }
    }
    .container-products {
        grid-template-columns: repeat(2, minmax(200px, 1fr)) !important;
        grid-column-gap: 30px !important;
        grid-row-gap: 30px
    }
    div[data-id="productsCategory"] {
        #app #modules {
            background-image: none !important;
        }
    }
    div[data-id="product"] {
        #product {
            background-color: white;

            .position-unset.d-lg-flex > .col-lg-8.col-12 {
                padding: 0 !important;
            }

            .col-lg-4 {
                & > img {
                    max-width: 678px;
                    width: 100%;
                }
            }

            .orderProduct {
                max-width: 100%;

                .price {
                    .btn-primary.ml-auto {
                        margin-left: 0 !important;
                    }
                }
            }

            .companyFeatures {
                grid-template-columns: repeat(2, minmax(100px, 360px));
                grid-row-gap: 15px;
                grid-column-gap: 80px;

                .advantage-info {
                    margin-left: 25px;
                }
            }
        }
    }

    #partners {
        & > .col-11 {
            & > .d-md-flex {
                flex-direction: column;
                align-items: center;

                & > h2 {
                    text-align: center !important;
                }
            }
        }
    }
    div[data-id="about"] {
        #economy {
            background-image: none !important;
        }
    }
    #economy {
        background-image: url('/assets/components/home/economy/economy-laptop.png') !important;
        background-position: right 0 top -305px !important;
        background-size: contain, cover !important;

        .economy-bottom {
            display: flex;
            align-items: center;
            max-height: 40px;
            height: 100%;
        }
    }
    #projects .slick-slide, #moreItems .slick-slide {
        &.card, &.card.col-md-6 {
            margin-left: 10px !important;
            margin-right: 10px !important;
        }
    }
    .slick-slide .margin-icon {
        img {
            display: inline-block;
        }
    }
    #questions {
        .question-title {
            max-width: 415px;
        }

        .question-handler {
            right: 0 !important;
        }
    }
    #partners {
        .carousel-item.d-grid {
            grid-column-gap: 30px;
        }
    }
    #projects {
        #v-pills-tab {
            top: 0 !important;
        }

        .project-description {
            margin: 15px 0 25px 0;
        }

        .border-left-section {
            &:before {
                display: none;
            }
        }

        .all-projects {
            max-width: 190px !important;
            margin-right: 0 !important;
        }

        #v-pills-tab.nav {
            border-bottom: 1px solid transparent;
            margin-left: 15px;
        }

        .nav-pills .nav-link.active {
            position: relative;
            text-decoration: none;

            &::before {
                height: 2px;
                width: 100%;
                left: 0;
                right: 0;
                margin: auto;
                top: unset !important;
            }
        }

        #v-pills-tabContent {
            padding-left: 0;

            .col-md-6 {
                min-width: 530px;
                width: 100%;
                max-width: 570px !important;
            }

            .col-md-5 {
                max-width: 360px;
            }

            & .tab-pane > .row.flex-wrap {
                justify-content: flex-start !important;

                .card:nth-child(2) {
                    margin-left: 40px;
                }

                .card:nth-child(1) {
                    margin-left: 0 !important;
                }
            }
        }

        #v-pills-tab {
            position: relative !important;
            margin-left: 0 !important;

            .nav-link {
                padding: 0 10px 0 10px;
            }
        }

        .all-projects .button-all {
            right: unset !important;
        }
    }
    #service {
        #header {
            padding-bottom: 0 !important;
        }

        .services-text {
            max-width: 100%;
        }

        .content-card {
            text-align: left;

            .card-title {
                padding: 50px 30px 20px 30px;
            }

            .card-text {
                padding: 0 30px 40px 30px;
            }
        }
    }


    div[data-id="contacts"] {
        background-color: white !important;

        .navbar {
            background-color: #f3f5f6;
        }

        .v-breadcrumbs {
            background-color: #f3f5f6;
        }

        .contacts-form {
            padding: 0 !important;

            .v-card__title {
                padding: 0 !important;
            }

            .v-card__text {
                padding: 0 !important;

                & > .container {
                    padding: 0 !important;
                }
            }
        }

        .card-title {
            margin: auto;
        }

        .contacts-info {
            background-color: #f3f5f6;
        }

        .v-card__actions {
            padding-left: 0 !important;

            & > a {
                margin-left: 0 !important;
            }
        }

        .v-card {
            background-color: transparent;
        }
    }

    #questions {
        background: unset !important;
    }

    .dropdown {
        overflow: hidden;

        .list-unstyled {
            z-index: -1;
            animation: visible .2s;
        }

        .collapse {
            transform: translateY(0);
            opacity: 0;
            min-height: 0;
        }
    }
    @keyframes visible {
        0% {
            transform: translateY(-10px);
            height: 20px;
            opacity: 0;
        }
        20% {
            transform: translateY(-8px);
            height: 40px;
            opacity: 0.2;
        }
        40% {
            transform: translateY(-6px);
            height: 60px;
            opacity: 0.4;
        }
        60% {
            transform: translateY(-4px);
            height: 80px;
            opacity: 0.6;
        }
        80% {
            transform: translateY(-2px);
            height: 100px;
            opacity: 0.8;
        }
        100% {
            transform: translateY(0);
            height: 100%;
            opacity: 1;
        }
    }

    .mobile-contact {
        &:after {
            content: '';
            position: absolute;
            width: 2px;
            height: 50%;
            background: rgba(255, 255, 255, .2);
            margin-left: 25px;
            right: 0;
        }
    }
    .navbar-toggler {
        border-radius: 50%;
        background: white;
        width: 50px;
        height: 50px;
        position: relative;

        .navbar-toggler-icon {
            display: none;
        }

        .navbar-mobile-toggler-icon {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        }

        .navbar-mobile-toggler-icon:nth-child(3) {
            width: 11px;
            height: 2px;
            background: black;
            margin-top: 27px !important;
            margin-left: 22px;
        }

        .navbar-mobile-toggler-icon:nth-child(2) {
            width: 17px;
            height: 2px;
            background: black;
            margin-top: 22px !important;
        }
    }
    nav.navbar.navbar-dark .navbar-nav:after {
        display: none;
    }
    #navbar-open, #navbar-open2 {
        position: fixed;
        top: 0;
        max-width: 1024px;
        left: 0;
        width: 100%;
        height: 100vh;
        transition: height .1s ease-in-out;

        .navbar-nav:after {
            display: none;
        }

        .close-navbar {
            z-index: 2;

            &:after {
                position: absolute;
                right: 30px;
                top: 35px;
                content: "\274c" !important;
                font-size: 20px;
                color: #FFF;
                margin: 10px 40px;
                padding: 10px;
                filter: grayscale(1) brightness(5);
            }
        }
    }
    #partners {
        #carousel-partners .d-grid {
            grid-template-columns: repeat(1, minmax(290px, 1fr));
        }
    }
    div[data-id="about"] {

        #map {
            max-height: 100%;
            display: block;

            .gmaps-map {
                min-height: 600px;
            }
        }
    }
    #values {
        background: #f3f5f6;
    }
    .values-grid {
        margin-top: 40px;
        grid-template-columns: repeat(2, minmax(100px, 1fr)) !important;

        .value.card {
            border: unset !important;
            border-radius: 10px;
        }
    }

    div[data-id="news"] {
        #header {
            margin-top: 0 !important;
        }
    }

    div[data-id="singleNews"] {
        .card.news {
            margin: 0 0 40px 0 !important;
            max-width: 100% !important;
        }
    }
    div[data-id="career"] {
        #header {
            margin-top: 0 !important;
        }
    }
    #career {
        & > .padding-125 {
            padding: 0 0 125px 0 !important;
        }
    }
    div[data-id="singleCareer"] {
        background-color: #f3f5f6;

        #nav-top {
            background-color: #f3f5f6;
        }

        #singleCareer {
            margin-top: 0 !important;
            background-color: #f3f5f6;

            .description {
                padding-bottom: 125px !important;

                .career-introduction {
                    max-width: 100%;
                }

                .career-body {
                    .btn-primary {
                        width: 100%;
                    }
                }
            }
        }

        #header {
            margin-top: 0 !important;

            .v-breadcrumbs {
                justify-content: start !important;
                margin: 0 !important;
            }
        }

        .socials {
            display: none !important;
        }

        .description {
            margin: 0 !important;
        }

        #contacts {
            padding: 0 !important;
        }
    }
    div[data-id="singleNews"] {
        .socials {
            display: none !important;
        }
    }
    #projectsPage {

        #v-pills-tabContent {
            .tab-pane {
                & > div.d-flex {
                    margin-bottom: 0 !important;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 895px) {
    #products .product-categories .card .card-title {
        max-width: 240px !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    h4 {
        font-size: 24px !important;
    }
    h5 {
        font-size: 20px !important;
    }
    h3 {
        font-size: 28px !important;
    }
    #moreItems {
        .card {
            border-radius: 10px !important;
        }

        .card-img-top {
            margin: 30px 0 !important;
        }
    }
    #products .product-categories .card .card-title {
        max-width: 220px !important;
    }
    #energy {
        position: relative;
        background: #F3F5F6;
        padding-left: 45px !important;
        padding-right: 45px !important;

        .energy-container {
            .energy-sidebar-left {
                max-width: 470px;
                margin-bottom: 60px;
                padding-top: 100px;

                button {
                    margin-top: 45px;
                }
            }

            .energy-sidebar-right {
                max-width: 1090px;
                width: 100%;
                padding-bottom: 100px;
                flex: unset
            }

            .energy-item {
                max-width: 800px;

                &:not(:last-child) {
                    margin-bottom: 86px;
                }

                h1, p {
                    padding-left: 70px;
                }

                h1 {
                    font-size: 54px !important;
                    font-weight: 700 !important;
                    margin-bottom: 20px;
                }

                .energy-item-header {
                    display: flex;
                    align-items: center;

                    img {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    #contacts .contacts-info .list-group li .body p:nth-child(2) {
        font-weight: 600 !important;
    }
    div[data-id^="single"] #contacts .v-card, div[data-id^="service"] #contacts .v-card {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }
    #service {
        .header-text {
            p {
                max-height: 100px !important;
                overflow: hidden;
            }
        }

        .left-connection {
            padding: 0 40px !important;
        }

        .services-grid {
            grid-template-columns: repeat(auto-fill, minmax(150px, 287px)) !important;
        }

        .services-text {
            margin-bottom: 40px !important;
        }
    }
    .services-grid {
        .card-title {
            font-size: 20px !important;
        }

        .card-text {
            font-size: 14px !important;
        }
    }
    .contacts-info[class*=col-] {
        justify-content: flex-start !important;
        padding-left: 45px !important;
        padding-right: 45px !important;

        .contacts-sidebar {
            max-width: 100% !important;
        }

        .list-group {
            flex-direction: row !important;
            justify-content: space-between !important;
        }
    }

    #steps .v-tabs-bar__content {
        justify-content: flex-start !important;
    }
    #steps {
        .steps-description {
            margin-left: 0 !important;
        }

        .v-tabs {
            .v-tab {
                padding-left: 0 !important;
                padding-right: 30px !important;
            }
        }
    }
    #complect {
        .col-xl-7.col-md-11.col-11 {
            h2 {
                margin-bottom: 40px !important;
            }
        }
    }
    #variants .sidebar-info ul {
        margin-bottom: 40px !important;
    }
    #connections {
        .connections-grid {
            grid-template-columns: repeat(auto-fill, minmax(230px, 450px));
        }
    }
    .steps-grid .step-title .roboto {
        margin: 0 20px !important;
    }
    #footer {
        .footer-one {
            margin-top: 40px !important;
        }

        .footer-two, .footer-four {
            text-transform: uppercase !important;
        }
    }
    #app div[data-id="contacts"] {
        .contact-icon {
            background-color: rgba(31, 31, 31, 0.05) !important;
        }

        .contacts-sidebar {
            .list-group {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .contacts-info {
            padding-left: 0 !important;
        }

        .col-xl-7.contacts-form {
            padding-left: 0 !important;
            padding-right: 0 !important;

            .v-card__title {
                padding-left: 0 !important;
            }

            .v-card {
                padding-top: 60px !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .v-card__actions {
                p a {
                    text-decoration: underline;
                }
            }
        }
    }
    .ymap-container {
        height: 600px !important;
    }
    .services {
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr)) !important;
    }
    #products {
        .product-categories.brands {
            padding-bottom: 75px !important;
        }

        .category-dropdown {
            margin-right: 8px;
            right: 0;
            max-width: 270px !important;
        }
    }
    #product {
        .orderProduct {
            .image {
                height: auto !important;
            }
        }
    }
    div[id^="singleCareer"] .top-header {
        height: auto !important;
    }
    div[data-id="singleNews"] {
        .card.news {
            &:nth-child(2) {
                margin-left: 20px;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    #connections {
        .connections-flex {
            .content-card {
                &.group {
                    width: 95% !important;
                }
            }

            .group-parent {
                width: 100%;

                .group-flex {
                    justify-content: space-around
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    #app {
        #connections {
            .connections-flex {
                flex-flow: unset;
            }
        }
    }
}

@media screen and (max-width: 1165px) {
    #connections {
        .custom-cards .connections-flex .content-card.icon-card-item {
            width: 40px !important;
        }

        .connections-flex {
            .group-parent .group-flex div {
                width: 170px !important;
            }

            .group-parent .group-flex div.plus-card {
                width: 10px !important;
                padding: 0 !important;
                margin: 0 !important;
                justify-content: center;
                margin-top: 30px !important;
            }

            .content-card.icon-card-item:nth-child(6) {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }

            .content-card.header {
                width: 250px !important;
            }
        }
    }
}
